%h1 Editing Reservation
= render 'form'
%br/
= link_to 'Show', restaurant_table_reservation_path(@restaurant, @table, @reservation), class: 'btn'
= link_to 'Back', restaurant_table_reservations_path, class: 'btn'
