%div.col-lg-4.col-lg-offset-4.col-centered.text-center.pagination-centered
  .row
    .panel.panel-primary
      .panel-heading
        .panel-title
          %h3
            Welcome to Tabler
            %i.fa.fa-smile-o
      .panel-body
        .row
          %button.btn.btn-primary
            User Sign In
        .row
          %h3
            Admin Sign In
